<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
      interface="Autodesk.Connectivity.WebServices.IWebServiceExtension, Autodesk.Connectivity.WebServices"
      type="VdsSampleUtilities.EventHandlers, VdsSampleUtilities">
    </extension>
    <extension
   interface="Autodesk.Connectivity.Explorer.Extensibility.IExplorerExtension, Autodesk.Connectivity.Explorer.Extensibility"
   type="VdsSampleUtilities.VdsSampleAdmin, VdsSampleUtilities">
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>